# Backend
backend/history.db
backend/logs/
backend/temp_downloads/
temp_downloads/
__pycache__/
*.py[cod]
*$py.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# Env / Secrets
.env
.env.local

# IDEs
.vscode/
.idea/
.DS_Store
*.swp

# Project Files
To-Do.txt
